@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kiwi Maru', serif;
    background: rgb(38, 38, 192);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
    border: 10px solid;
    background: white;
    color: black;
}

.child h3{
    margin: 16px 19px;
}

.joke{
    margin: 88px 15px;
}

.btn{
    height: 35px;
    width: 100px;
    cursor: pointer;
    outline: none;
}